body {
    font-family: Calibri, 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
    margin: 60px auto;
    width: 70%;
}
a {
    text-decoration: none;
    color: #1966FF;
}
a:hover {
    text-decoration: underline;
}
table {
    width: 100%;
}
a, ul, p {
    font-size: 18px;
}
ul {
    line-height: 150%;
}
td, tr {
    margin: 0;
    padding: 0;
}

table {
 margin: 0;
 padding: 0;
}

h1, h3, p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}